<!DOCTYPE html>
<html>
<head>
<style>
		a { color: inherit; } 
			body{
				background-color: #531405;
				font-size: 38px;
				color:#cf8906;	
			}
			h1 {
				font-size: 88px;
				text-shadow: 3px 2px #ffca3b;
			}
			#paragraph {
				font-size: 58px;
				text-shadow: 3px 1px #ffca3b;
			}
</style>
	<title></title>
</head>
<body>
<h1>Something went wrong.</h1>
<div id="paragraph"> <p>Here are some things you can do.</p></div>
<p>If you were trying to sign up, check if you wrote the email correctly, and if your password is at least 6 letters.</p>
<a href="/signup">Try signing up again.</a>
<br>
<br>
<p>If you were trying to sign in, check if you wrote the email and password correctly.</p>
<a href="/signin">Try signing in again.</a>
<br>
<br>
<p>Check your internet connection.</p>
</body>
</html>