<!DOCTYPE html>
<html>
<head>
<style>
		a { color: inherit; } 
			body{
				background-color: #531405;
				font-size: 45px;
				color:#cf8906;
		        text-shadow: 3px 2px #ffca3b;
		        text-align: center; 		
			}
		        #id456{
		        display: block; 
		        margin-bottom: 10px;
		        postion:static; 
		        text-align: center;
		        font-size: 59px; 
		        
		    }
</style>
	<title></title>
</head>
<body>
<h1>What would you like
to check out first?</h1>
<div id="id456" style="height: 677px; display: flex; align-items: flex-end; justify-content: center;"><p><a style="margin:10 px">
<a href="/songs">Some Songs</a>
<br>
<br>
<a href="/random">Random - Lana</a>
<br>
<br>
<a href="/profile">Your Profile</a>
<br>
<br>
<a href="/bio">Add to bio!</a>
<br>
<br>
<a href="/signout">Sign Out</a>
</div>
</body>
</html>