<!DOCTYPE html>
<html>
<head>
<style>
		a { color: inherit; } 
			body{
				background-color: #531405;
				font-size: 48px;
				color:#cf8906;
		        text-shadow: 3px 2px #ffca3b;	
		        text-align: center;
			}
		.wrapper{
			border: solid 3px #4D54E;
			padding: ;
		}
        #idid{
            display: block; 
            margin-bottom: 10px;
            postion:static; 
            text-align: center;
            font-size: 50px; 
            
        }



</style>
	<title></title>
</head>
<body>
<h1>Your profile - {{username}}: </h1>
	<div id="idid" style="height: 400px; display: flex; align-items: flex-end; justify-content: center;"><p><a style="margin-top:10px;" class="wrapper">
		<p> {%for i in input1%}
		{{i}}
		<br>
		{%endfor%}</p>	</div>
		<a href="/signout">Sign Out</a>
		<br>
		<a href="/options">Back to options</a>

</body>
</html>