<!DOCTYPE html>
<html>
<head>

	<title></title>
</head>
<body>
<h1>Some of Lana's songs <3:</h1>
<a href="https://www.youtube.com/watch?v=2xtKhqbNBoY">Margaret (feat. Bleachers)</a>
<br>
<a href="https://www.youtube.com/watch?v=WJlQ4jt5Fz4">Let The Light In (feat. Father John Misty</a>
<br>
<a href="https://www.youtube.com/watch?v=hNFoCOKk7LE">Peppers (feat. Tommy Genesis)</a>
<br>
<a href="https://www.youtube.com/watch?v=T5xcnjAG8pE">Brooklyn Baby</a>
<br>
<a href="https://www.youtube.com/watch?v=KuX_xwghhsw">Shades of cool</a>
<br>
<a href="https://www.youtube.com/watch?v=oKxuiw3iMBE">West Coast</a>
<br>
<a href="https://www.youtube.com/watch?v=qtBxUoUkG8s">Diet Mountain Dew</a>
</body>
</html>