<!DOCTYPE html>
<html>
<head>

	<title></title>
</head>
<body>
<h1>Some of Lana's songs <3:</h1>
<a href="https://www.youtube.com/watch?v=2xtKhqbNBoY"><img src="static/lana2.webp"width="150" height="132"
> </a> <p>Margaret (feat. Bleachers)</p>
<br>
<a href="https://www.youtube.com/watch?v=WJlQ4jt5Fz4"><img src="static/lana2.webp"width="150" height="132"></a><p>Let The Light In (feat. Father John Misty</p>
<br>
<a href="https://www.youtube.com/watch?v=hNFoCOKk7LE"><img src="static/lana2.webp"width="150" height="132"></a><p>Peppers (feat. Tommy Genesis)</p>
<br>
<a href="https://www.youtube.com/watch?v=T5xcnjAG8pE"><img src="static/lana3.png" width="150" height="132"></a><p>Brooklyn Baby</p>
<br>
<a href="https://www.youtube.com/watch?v=KuX_xwghhsw"><img src="static/lana3.png" width="150" height="132"></a> <p>Shades of cool</p>
<br>
<a href="https://www.youtube.com/watch?v=oKxuiw3iMBE"><img src="static/lana3.png" width="150" height="132"></a> <p>West Coast</p>
<br>
<a href="https://www.youtube.com/watch?v=qtBxUoUkG8s"><img src="static/lana4.jpeg" width="150" height="132"></a><p> Diet Mountain Dew</p>
<a href="https://www.youtube.com/watch?v=TdrL3QxjyVw"><img src="static/lana4.jpeg" width="150" height="132"></a><p> Summertime Sadness</p>
<a href="https://www.youtube.com/watch?v=cE6wxDqdOV0"><img src="static/lana4.jpeg" width="150" height="132"></a><p> Video Games</p>
</body>
</html> 